<!DOCTYPE>
<html ng-app="myApp">
    <head>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <title>Datenbanken App</title>
    </head>
    <body>
        <div class="container" ng-controller="AppCtrl">
            <h1>Datenbanken App</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Fahrername
                        </th>
                        <th>
                            FahrerID
                        </th>
                        <th>
                            Ort
                        </th>
                    </tr>
                </thead>
                <tr>
                    <td>
                        <input class = "form-control" ng-model="data.driverName" >
                    </td>
                    <td>
                        <input class = "form-control" ng-model="data.driverID">
                    </td>
                    <td>
                        <input class = "form-control" ng-model="data.driverLocation"
                    </td>
                    <td>
                        <button class="btn btn-primary" ng-click="addDriver()">Add Driver</button>
                    </td>
                    <td>
                        <button class = "btn btn-info" ng-click="update()">Update</button>
                    </td>
                    <td>
                        <button class = "btn btn-info" ng-click="deselect()">Clear</button>
                    </td>
                </tr>
                <tbody>
                    <tr ng-repeat="data in datalist">
                        <td>
                            {{data.driverName}}
                        </td>
                        <td>
                            {{data.driverID}}
                        </td>
                        <td>
                            {{data.driverLocation}}
                        </td>
                        <td>
                            <button class="btn btn-danger" ng-click="remove(data._id)">Remove</button>
                        </td>
                        <td>
                            <button class = "btn btn-warning" ng-click="edit(data._id)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

        <script src="controllers/controller.js"></script>
    </body>
</html>
